.about {
  @media (width <= 767px) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $width-tablet) {
    padding-bottom: 120px;
  }

  @media (min-width: $width-desktop) {
    display: flex;
    gap: 144px;
    padding-top: 120px;
    padding-bottom: 240px;
  }
}

.about__info {
  padding: 0 15px;

  @media (min-width: $width-desktop) {
    padding: 0;
  }
}

.about__title {
  padding-bottom: 12px;
  text-align: left;

  @media (min-width: $width-tablet) {
    text-align: center;
    padding-bottom: 20px;
  }

  @media (min-width: $width-desktop) {
    text-align: left;
    padding-bottom: 26px;
  }
}

.about__description {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;

  @media (min-width: $width-tablet) {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  @media (min-width: $width-desktop) {
    font-size: 22px;
    line-height: 22px;
    text-align: left;
  }
}

.about p {
  font-size: 14px;
  line-height: 22px;
  padding: 36px 0;
  margin: 0;

  @media (min-width: $width-tablet) {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 36px 73px;
  }

  @media (min-width: $width-desktop) {
    width: 356px;
    padding: 94px 0 8px;
    text-align: left;
  }
}

.about p + p {
  display: none;

  @media (min-width: $width-desktop) {
    display: inline-block;
    padding: 0;
  }
}

.about__img {
  display: block;
  padding-bottom: 36px;

  @media (min-width: $width-tablet) {
    padding: 0;
  }

  @media (min-width: $width-desktop) {
    width: 660px;
    height: 400px;
  }
}

.about__images {
  position: relative;
}

.about__video-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__video {
  display: block;
  position: relative;
  width: 320px;
  height: 170px;

  @media (min-width: $width-tablet) {
    width: 270px;
    position: absolute;
    left: 50%;
    bottom: -85px;
    transform: translateX(-50%);
  }

  @media (min-width: $width-desktop) {
    width: 360px;
    height: 230px;
    left: 80px;
    bottom: -115px;
  }
}

.about__iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.about__button-play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 2px solid rgb(237, 2, 51, 0.2);
  background-color: transparent;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-image: linear-gradient(90deg, #ed0233, #003eb7);
  }

  &:hover {
    border-color: rgba(16, 38, 84, 0.6);

    &::after {
      background: $color-white;
    }
  }

  &:focus,
  &:active {
    border-color: $color-primary;
    outline: none;

    &::after {
      background: #c8c9cc;
    }
  }

  &:active {
    &::after {
      width: 38px;
      height: 38px;
      background: $color-white;
    }
  }

  &:disabled {
    border-color: $color-primary;
    opacity: 0.6;

    &::after {
      background: $color-white;
    }
  }

  @media (min-width: $width-desktop) {
    width: 100px;
    height: 100px;

    &::after {
      width: 72px;
      height: 72px;
    }

    &:active {
      &::after {
        width: 58px;
        height: 58px;
      }
    }
  }
}

.about__icon {
  position: absolute;
  left: 52%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: #ffffff;
  z-index: 10;
}

.about__button-play:hover .about__icon {
  fill: $color-primary;
  fill-opacity: 0.6;
}

.about__button-play:focus .about__icon,
.about__button-play:active .about__icon {
  fill: $color-primary;
  fill-opacity: 1;
}

.about__button-play:disabled .about__icon {
  fill: $color-primary;
  fill-opacity: 0.6;
}
