.card-prise {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  padding: 43px 35px;
  background-color: $color-white;
  box-sizing: border-box;
  border: 7px solid transparent;
  z-index: 20;

  @media (min-width: $width-tablet) {
    gap: 22px;
    padding: 58px;
    width: 380px;
  }

  @media (min-width: $width-desktop) {
    width: 360px;
    gap: 18px;
  }
}

.card-prise__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  margin: 0;

  @media (min-width: $width-tablet) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $width-desktop) {
    font-size: 26px;
    line-height: 26px;
  }
}

.card-prise__description {
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  text-align: center;

  @media (min-width: $width-tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}

.card-prise__prise-wrapper {
  position: relative;
  padding-top: 68px;

  @media (min-width: $width-tablet) {
    padding-top: 60px;
  }
}

.card-prise__prise {
  display: block;
  position: relative;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  color: #103aae;
  padding-bottom: 10px;

  @media (min-width: $width-tablet) {
    font-size: 60px;
    line-height: 90px;
    padding-bottom: 0;
  }
}

.card-prise__shadow {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  font-weight: 700;
  line-height: 120px;
  color: #e8e8e8;
  opacity: 0.48;

  @media (min-width: $width-tablet) {
    font-size: 100px;
    line-height: 150px;
  }
}

.card-prise__icon {
  @media (min-width: $width-tablet) {
    width: 30px;
    height: 42px;
  }
}

.card-prise__link {
  display: block;
  width: 195px;
  padding: 25px;

  @media (min-width: $width-tablet) {
    width: 100%;
    margin: 0 auto;
  }

  @media (min-width: $width-desktop) {
    width: 195px;
  }
}

.card-prise:focus-within,
.card-prise:has(> .card-prise__link:hover) {
  border-image: linear-gradient(150deg, #d10a42, #00359f);
  border-image-slice: 1;
}
