.footer {
  background-color: $background-footer;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 45px;
    padding-bottom: 45px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.footer__nav {
  margin: 0;

  @media (width <= 767px) {
    margin-left: -10px;
  }
}
