.footer-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 15px;
  list-style: none;
  padding: 0;
  box-sizing: border-box;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    width: 463px;
    gap: 0;
    padding: 0 25px;
    justify-content: space-between;
  }

  @media (min-width: $width-desktop) {
    flex-direction: row;
    width: 670px;
    gap: 10px 62px;
    justify-content: space-between;
  }
}

.footer-nav__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $color-white;
  text-decoration: none;
  padding: 5px 10px;
  position: relative;

  &:hover {
    &::before {
      content: "";
      position: absolute;
      left: 10px;
      bottom: 0;
      width: calc(100% - 20px);
      height: 1px;
      background-color: $color-white;
    }
  }

  &:focus {
    outline: 1px solid $color-white;
  }

  &:active {
    border-color: transparent;

    &::before {
      visibility: hidden;
    }
  }

  @media (min-width: $width-tablet) {
    line-height: 22px;
  }
}
