.header {
  background-image: linear-gradient(90deg, #1C3477 0%, #1C3477 0.01%, #1A3578 39.11%, #73184B 75.5%, #B4022A 100%);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;

  @media (min-width: $width-tablet) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.header__phone {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  text-decoration: none;
  text-transform: none;
  color: $color-white;
  box-sizing: border-box;
  border-bottom: 1px solid transparent;

  &:hover {
    color: rgba(28, 51, 116, 0.50);
  }

  &:focus {
    color: $color-blue;
    outline: none;
  }

  &:active {
    color: $color-primary;
    border-color: $color-primary;
  }

  &:disabled {
    opacity: 0.5;
  }

  @media (min-width: $width-tablet) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $width-desktop) {
    font-size: 26px;
    line-height: 26px;
  }
}

