.reviews {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 40px;
  padding-right: 40px;

  @media (min-width: $width-tablet) and (max-width: 1365px) {
    padding-left: 27px;
    padding-right: 27px;
    gap: 35px;
  }

  @media (min-width: $width-desktop) {
    padding-left: 103px;
    padding-right: 103px;
    gap: 75px;
  }
}

.reviews__title {
  @media (min-width: $width-tablet) {
    font-size: 54px;
    line-height: 54px;
  }
}

.reviews__slider {
  @media (min-width: $width-desktop) {
    margin: 0 auto;
  }
}
