
.slider {
  width: 240px;

  @media (min-width: $width-tablet) {
    width: 718px;
  }

  @media (min-width: $width-desktop) {
    width: 712px;
  }
}

.slider__button {
  position: absolute;
  display: none;
  top: 50%;
  transform: translateY(-50%);
  width: 56px;
  height: 56px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50%;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
  z-index: 10;

  &--prew {
    left: 0;
  }

  &--next {
    right: 0;
  }

  &:hover {
    border-color: $color-primary;
  }

  &:focus {
    background-color: #f8f8f8;
    border-color: $color-primary;
    outline: none;
  }

  &:active {
    background-color: $color-primary;
    border-color: $color-primary;
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  @media (min-width: $width-tablet) {
    display: block;
  }
}

.slider__button:active .slider__icon {
  stroke: $color-white;
}

.slider__icon {
  stroke: $color-primary;
  fill: none;
}

.slider__button--next .slider__icon {
  transform: rotate(180deg);
}

.slider__item {
  background-color: $color-blue;
  color: $color-white;
  padding: 30px 25px;
  text-align: center;
  box-sizing: border-box;


  @media (min-width: $width-tablet) {
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: auto auto;
    gap: 20px 40px;
    padding: 40px 30px;
    width: 500px;
    text-align: start;
    margin: 0 auto;
  }

  @media (min-width: $width-desktop) {
    padding: 60px;
    width: 560px;
    column-gap: 30px;
  }
}

.slider__item img{
  border-radius: 50%;

  @media (min-width: $width-tablet) {
    width: 80px;
    height: 80px;
  }
}

.slider__image {
  @media (min-width: $width-tablet) {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }
}


.slider__item h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 16px;
  margin: 0;

  @media (min-width: $width-tablet) {
    padding: 0;
    font-size: 22px;
    line-height: 22px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

.slider__item p{
  font-family: "Roboto Condensed", serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin: 0;

  @media (min-width: $width-tablet) {
    font-size: 16px;
    line-height: 24px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}
