.socials {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $width-tablet) {
    width: 105px;
    gap: 15px;
  }

  @media (min-width: $width-desktop) {
    width: 95px;
    gap: 10px;
  }
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $color-white;

  &:hover {
    background-color: #74819c;
  }

  &:focus {
    background-color: $color-text-blue;
    outline: none;
  }

  &:active {
    background-color: $color-primary;
  }
}

.socials__icon {
  fill: $background-footer;
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon,
.socials__link:active .socials__icon {
  fill: $color-white;
}

.socials .is-disabled {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: auto;
  pointer-events: none;
}
