$color-primary: #102654;
$color-white: #ffffff;
$color-text-blue: #103aae;
$color-blue: #1c3374;
$color-dark-rad: #d10a42;
$color-grey: #f8f9fc;
$color-red: #ed0233;
$color-error: #ff121f;
$background-footer: #030a1a;

$width-tablet: 768px;
$width-desktop: 1366px;
